<!-- Footer -->
<footer class="py-5">
    <div class="container">
        <div class="row align-items-baseline">
            <div class="col-md-8 col-12">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <p class="text-white">
                            <i class="fa fa-map-marker m-1"></i>
                            <span>المقر الأدارى : شارع الهلالى برج المدشة بجوار مطعم ولعتين - أسيوط</span>
                        </p>
                    </div>
                    <div class="col-md-4 col-6">
                        <a href="javascript:void(0);" class="text-white">
                            01020364349
                            <i class="fa fa-phone border py-1 px-2 m-1 rounded-circle"></i>
                        </a>
                    </div>
                    <div class="col-md-4 col-6">
                        <a href="javascript:void(0);" class="text-white">
                            01118155427
                            <i class="fa fa-phone border py-1 px-2 m-1 rounded-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 text-right mt-md-0 mt-2">
                <div class="row">
                    <div class="col-12 mb-3">
                        <a href="javascript:void(0);" class="text-white">
                            fb/SehatakHospital
                            <i class="fa fa-facebook border py-1 px-2 m-1 rounded-circle"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <a href="javascript:void(0);" class="text-white">
                            info@sehatakhospital.com
                            <i class="fa fa-envelope-o px-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>