<!-- Navigation -->
<nav class="topHead"></nav>
<nav class="navbar mainNav navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="img/logo.png" alt="Logo">
        </a>
        <button class="navbar-toggler navbar-toggler-left ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">عن المشروع</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news.html">الأخبار</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="timeline.html">الجدول الزمنى</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gallery.html">معرض الصور</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq.html">الأسئلة الشائعة</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="social-media-box">
    <ul>
        <li>
            <a href="javascript:void(0);" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" target="_blank"><i class="fa fa-whatsapp"></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" target="_blank"><i class="fa fa-phone"></i></a>
        </li>
    </ul>
</div>